@mixin list($d: flex, $gap: var(--gap), $jc: null, $ai: null, $fd: null, $fw: null) {
  display: $d;
  gap: $gap;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

@mixin item($q-gap, $gap, $q-item) {
  flex-basis: calc((100% - #{$q-gap} * #{$gap}) / #{$q-item});
}
