.clients {

&__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--basic-txt-cl);
}

&__list {
    display: flex;
    justify-content: center;
}

&__item {
    width: 170px;
    height: 92px;
    --items: 6;
}

&__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icon-cl);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: var(--icon-cl);
    outline: transparent;

    transition: color var(--animation), border-color var(--animation);
}

&__icon {
    fill: currentColor;
}

&__link:hover,
&__link:focus {
    color: var(--accent-txt-cl);
    border-color: var(--accent-bg-cl);
}
}