.footer-contacts {
    font-style: normal;


&__text {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--light-txt-cl);
}

&__item {
    margin-bottom: 9px;
}

&__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: hsla(0, 0%, 100%, 0.6);

    transition: color var(--animation);
}

&__link:hover,
&__link:focus {
    color: var(--accent-txt-cl);
}
}