.register-form {}

.register-form__title {
    display: block;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.register-form__group {
    margin-bottom: 20px;
}

.register-form__field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.register-form__lable {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--secondary-txt-cl);
}

.register-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;

    transition: border-color var(--animation);
}

.register-form__input:hover,
.register-form__input:focus {
    border-color: var(--accent-bg-cl);
}

.register-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transition: fill var(--animation);
}

.register-form__input:hover+.register-form__icon,
.register-form__input:focus+.register-form__icon {
    fill: var(--accent-bg-cl);
}

.register-form__message {
    width: 100%;
    height: 120px;
    display: block;
    padding: 12px 16px;

    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    transition: border-color var(--animation);
}

.register-form__message:hover,
.register-form__message:focus {
    border-color: var(--accent-bg-cl);
}

.register-form__message::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.register-form__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

    margin-bottom: 30px;
}

.register-form__checked {
    opacity: 0;
    transition: opasity var(--animation);
}

.register-form__checkbox:checked+.register-form__check .register-form__checked {
    opacity: 1;
}

.register-form__unchecked {
    opacity: 1;
    transition: opasity var(--animation);
}

.register-form__checkbox:checked+.register-form__check .register-form__unchecked {
    opacity: 0;
}

.register-form__checkbox:focus+.register-form__check {
    fill: var(--accent-bg-cl);
    outline: 2px solid black;
    outline-offset: 1px;
    border-radius: 1px;
}

.register-form__desc {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);

    user-select: none;
}

.register-form__link {
    color: var(--accent-txt-cl);
}

.register-form__btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    background-color: var(--accent-bg-cl);

    transition: background-color var(--animation);
}

.register-form__btn:hover,
.register-form__btn:focus {
    background-color: var(--accent-hdr-cl);
}