.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts__item {
    margin-right: 50px;
}

.header-contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);

    transition: color var(--animation);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--accent-txt-cl);
}

.header-contacts__icon {
    fill: currentColor;
}