.header {
    border-bottom: var(--header-brd-cl);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}
